.header {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative !important;
  margin: 15px 0 0 0 !important;
  padding: 0 15px 0 15px !important;
}

.sidebar {
  grid-area: a;
  height: 100%;
  display: grid;
  padding: 15px;
}

.sidebar-content {
  position: relative !important;
  border-radius: 40px;
  height: auto !important;
  color: #eef3ff;
  
}
